@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #444;
  color: #d1d0c5;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}

/* Для удобства работы с телефона */
@media (max-width: 640px) {
  body {
    align-items: start;
    padding-top: 50px;
  }
}
